body{
    background-image:url("../images/background.jpg");
    margin-left: 10px;
}
header{
	width:300px;
	height: 70px;
	background-color: #D66324;
	margin-bottom: 5px;
}
#name{
	color: white;
	text-align: center;
	padding-top: 5px;
}
.paragraph{
	width: 400px;
	height:400px;
	background-color: #EBD0B9;
	margin-bottom: 10px;

}
.click{
	width:80px;
	height:80px;
}
p{
	color: green;
	padding: 10px;
}
.first{
	height:120px;
    width:300px;
    display: inline-block;
}
.all{
	width:180px;
	height: 90px;
	background-color: #49E692;
	font-size: 40px;
}
.score{
	width: 240px;
	height:30px;
	background-color: #12B5A2;
	margin-bottom: 10px;
}
.result{
	width:150px;
    height: 80px;
    color: white;
	background-color: lightseagreen;
	margin-left: 200px;
	margin-top:-100px;
}
h4{
	color: white;
    padding-top: 5px;
    margin-left: 3px;
}
.box{
	width:240px;
	height:100px;
	background-color: #12B5A2;
	font-size: 40px;
	color: white;
}

